<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container jumbotron">

    </div>
    <div class="container">
        <form action="/results" method="GET">
            <div class="form-group">
                <label>Search the movie</label>
                <input  class="form-control-sm" type="text" name="search">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
   
</body>

</html>